@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  --bs-gutter-x: 0;
}
body a:link {
  text-decoration: none;
  color: #FFFFFF;
}
body a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.btn {
  font-family: "Poppins", sans-serif;
  background-color: #333645;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}

.row {
  --bs-gutter-x: 0;
}

.row1 {
  padding: 15px 0;
  font-size: 18px;
  line-height: 46px;
  align-items: center;
}
.row1 .logo {
  flex: 0 0 370px;
  margin-left: 40px;
  margin-right: 40px;
}
.row1 .logo #net-matters-logo {
  width: 370px;
}
.row1 .scsm {
  height: 100%;
}
.row1 .scsm .p-2 {
  padding: 0 0 !important;
}
.row1 .scsm .r1-item {
  text-transform: uppercase;
  height: 56px;
  font-size: 18px;
  line-height: 46px;
}
.row1 .scsm i {
  font-size: 23px;
}
.row1 .scsm .support {
  background-color: #4183D7;
  flex: 0 0 137px;
}
.row1 .scsm .support:hover {
  background-color: #2A6EC6;
}
.row1 .scsm .contact,
.row1 .scsm .search .btn {
  background-color: #999aa2;
}
.row1 .scsm .contact:hover,
.row1 .scsm .search .btn:hover {
  background-color: #84858F;
}
.row1 .scsm .contact {
  flex: 0 0 145px;
  margin-left: 22px;
}
.row1 .scsm .search .btn {
  flex: 0 0 63px;
  font-size: 23px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  margin-right: 55px;
}
.row1 .scsm #search-box {
  font-family: "Poppins", sans-serif;
  border-radius: 1px;
  font-size: 14px;
  flex: 0 0 240px;
  margin-left: 22px;
}
.row1 .scsm .search {
  flex: 0 0 305px;
}
.row1 .scsm .menu {
  flex: 0 0 65px;
  line-height: 0.4px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 42px;
}
.row1 .scsm .menu i {
  font-size: 28px;
}
.row1 .scsm .menu:hover {
  background-color: #22242E;
}

.row2 {
  width: 100%;
  height: 100px;
  background-color: #333645;
  border-bottom: 1px solid #989AA1;
}
.row2 .p-2 {
  padding: 0 0 !important;
  flex: 0 0 195px;
  justify-content: center;
}
.row2 .btn {
  text-transform: uppercase;
  border-radius: 1px;
  border-width: 0 0.5px;
  border-left-color: #262833;
  border-right-color: #474A58;
  height: 100%;
  width: 100%;
  font-size: 18px;
}
.row2 .btn i {
  padding-bottom: 15px;
  padding-top: 12px;
}
.row2 .btn .menu-text {
  justify-content: center;
}
.row2 .btn span {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 5px;
}

.dropdown {
  text-transform: uppercase;
  display: none;
  position: absolute;
}

.web-design i {
  color: #926FB1;
}
.web-design:hover .web-design-dropdown {
  display: block;
  background-color: #79539A;
}
.web-design:hover .btn {
  background-color: #926FB1;
}
.web-design:hover i {
  color: #FFFFFF;
}

.it-support i {
  color: #4183D7;
}
.it-support:hover .it-support-dropdown {
  display: block;
  background-color: #286ABD;
}
.it-support:hover .btn {
  background-color: #4183D7;
}
.it-support:hover i {
  color: #FFFFFF;
}

.telecoms-services i {
  color: #D64541;
}
.telecoms-services:hover .telecoms-services-dropdown {
  display: block;
  background-color: #BC2C28;
}
.telecoms-services:hover .btn {
  background-color: #D64541;
}
.telecoms-services:hover i {
  color: #FFFFFF;
}

.bespoke-software i {
  color: #67809F;
}
.bespoke-software:hover .bespoke-software-dropdown {
  display: block;
  background-color: #526781;
}
.bespoke-software:hover .btn {
  background-color: #67809F;
}
.bespoke-software:hover i {
  color: #FFFFFF;
}

.digital-marketing i {
  color: #2ECC71;
}
.digital-marketing:hover .digital-marketing-dropdown {
  display: block;
  background-color: #25A25A;
}
.digital-marketing:hover .btn {
  background-color: #2ECC71;
}
.digital-marketing:hover i {
  color: #FFFFFF;
}

.cyber-security i {
  color: #F62459;
}
.cyber-security:hover .cyber-security-dropdown {
  display: block;
  background-color: #DE093F;
}
.cyber-security:hover .btn {
  background-color: #F62459;
}
.cyber-security:hover i {
  color: #FFFFFF;
}

.row3 {
  height: 490px;
  margin-bottom: 50px;
}
.row3 .bg-image-1 {
  background: linear-gradient(to right, #020202, transparent), url("../img/slider-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 1263px;
  height: 100%;
}
.row3 .carousel-text-1 {
  color: #FFFFFF;
  padding: 0px 0 0 48px;
  font-size: 20px;
}
.row3 .carousel-text-1 h1 {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 25px;
  margin-top: 0px;
}
.row3 .carousel-text-1 p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 35px;
}
.row3 .carousel-text-1 .btn {
  text-transform: uppercase;
  background-color: #926FB1;
  font-size: 20px;
  height: 62px;
  padding-left: 20px;
  padding-right: 20px;
}
.row3 .carousel-text-1 .btn .fa-arrow-right {
  margin-left: 15px;
}

.row4 {
  height: 310px;
  margin: auto;
}
.row4 .card {
  text-align: center;
  width: 370px;
  margin: 0 16px 32px 16px;
  padding: 15px;
}
.row4 .card-title {
  font-size: 18px;
}
.row4 .card-body {
  font-size: 13px;
  line-height: 22px;
}
.row4 .btn {
  text-transform: uppercase;
  font-size: 17px;
  width: 128px;
  justify-self: center;
}

#google-partner {
  width: 250px;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*# sourceMappingURL=output.css.map */
