// $fa-font-path:        "./css/webfonts";

// Colours

$white: #FFFFFF;
$dark: #333645;
$purple: #926FB1;
$purple-d: #79539A;
$blue: #4183D7;
$blue-d: #286ABD;
$red: #D64541;
$red-d: #BC2C28;
$steel: #67809F;
$steel-d: #526781;
$green: #2ECC71;
$green-d: #25A25A;
$pink: #F62459;
$pink-d: #DE093F;
